<div class="info" id="info">
    <div id="info-logo">
        <img src="/assets/img/unnamed.jpg" id="info-logo1">
    </div>
    <div id="info-text">
        <h1>Daniel Alberto Cruz Herrera</h1>
        <h2>Desarrollo Web Profesional</h2>
        <p>&nbsp;</p>
        <p>Why that's funny! My voice didn't come back to me. I'll try it again. Hello? Hello?! Oh my goodness! Now my singing voice is gone!
            My singing voice is gone!
            My singing voice is gone!
            My singing voice is gone!
            My singing voice is gone!
            My singing voice is gone!
            My singing voice is gone!
            My singing voice is—</p>
        <p>&nbsp;</p>
        <h2>Contacto</h2>
        <p>albertoch.ti21&#64;utsjr.edu.mx</p>
    </div>
</div>